{% extends 'base.html' %}
{% load static %}
{% block title %}LogIn{% endblock %}
{% block home_activate %}active{% endblock %}
{% block body %}
    <h1 class="text-center my-5">Explore the New and Desired Internships</h1>
    <img src="{% static '1.png' %}" alt="no image" style="margin-left: -8em; width: 84em;">
    <h1 class="text-center my-5">Experience the new Couser Offered</h1>
    <img src="{% static '2.png' %}" alt="no image" style="margin-left: -8em; width: 84em;">
    <h1 class="text-center my-5">Connect with us</h1>
    <img src="{% static '3.png' %}" alt="no image" style="margin-left: -8em; width: 84em;">
{% endblock %}