{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block dashboard_activate %}active{% endblock %}
{% block body %}
<div class="container my-5">
    <h1 style="text-align: center;"><u>Dashboard</u></h1>
    <div class="card mt-5" style="border: 2px solid black; background-color: rgb(231, 208, 220);">
        <div class="card-body">
            {% if profile.is_doctor %}
            <h2 style="text-align: center;" class="mb-5">Welcome <span style="color: green;text-decoration: underline;"> Dr. {{profile.first_name}} {{profile.last_name}}</span></h2>
            {% else %}
            <h3 style="text-align: center;">Welcome  {{profile.first_name}} {{profile.last_name}}</h3>
            {% endif %}

            <script>
                var i = 0;
                var txt = 'Welcome' ;
                var speed = 100;
                typeWriter();
                function typeWriter() {
                    if (i < txt.length) {
                        document.getElementById("demo").innerHTML += txt.charAt(i);
                        i++;
                        setTimeout(typeWriter, speed);
                    }
                }
            </script>


            <div class="row">
                <div class="col-md-6 fs-5">
                
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control fs-5" id="fname" aria-describedby="emailHelp" value="{{profile.first_name}}"
                        readonly>
                        <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control fs-5" id="lname" aria-describedby="emailHelp" value="{{profile.last_name}}"
                        readonly>
                        <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control fs-5" id="email" aria-describedby="emailHelp" value="{{user.email}}"
                        readonly>
                        <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control fs-5" id="address" aria-describedby="emailHelp" value="{{profile.address}}"
                        readonly>
                        <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control fs-5" id="city" aria-describedby="emailHelp" value="{{profile.city}}"
                        readonly>
                        <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control fs-5" id="state" aria-describedby="emailHelp" value="{{profile.state}}"
                        readonly>
                        <label for="pin" class="form-label">Pin code</label>
                    <input type="text" class="form-control fs-5" id="pin" aria-describedby="emailHelp" value="{{profile.pin}}"
                        readonly>
                </div>
                <div class="col-md-6">
                    <h4 class="mt-3">Profile Picture</h4><br><br>
                    <img src="{{ profile.picture.url }}"  alt="Image Missing" class=" rounded" height="500em">
                    <br><br><br>
                    <p class="text-center">
                    <a href="{% url 'home:home' %}" class="btn btn-outline-warning px-5 fs-5"><b>Go to Home</b></a>
                <a href="{% url 'home:profile' %}" class="btn btn-outline-success fs-5 ms-5">Go back to Profile</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}